walkthrough(
  ng-if='$ctrl.show',
  walkthrough-type='transparency',
  focus-element-selector='{{ $ctrl.focus }}',
  icon='single_tap',
  main-caption='{{ $ctrl.caption }}',
  is-active='$ctrl.active'
)